@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --blue: rgb(2, 25, 91);
    --yellow: rgb(255, 190, 0);
    --darkyellow: rgb(255, 149, 0);
    --lightgray: rgb(240, 240, 240);
    --darkgray: rgb(82, 82, 82);
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.delay-04s {
    animation-delay: 0.4s;
}

.delay-08s {
    animation-delay: 0.8s;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    max-width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
    gap: 50px;
}

#navbar img {
    height: 8rem;
}

.tabs {
    display: flex;
    gap: 2rem;
}

.tab-item {
    cursor: pointer;
    border-bottom: solid 3px transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    list-style: none;
}

.tab-item:hover {
    color: var(--blue);
    border-bottom: solid 3px var(--blue);
}

.main {
    padding: 0 3rem;
    width: 100%;
}

.banner {
    height: 90VH;
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 0 3rem;
}

.banner-left {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.banner-texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 100px;
}

.banner-texts h1 {
    color: var(--yellow);
    font-size: clamp(40px, 5vw, 5rem);
    margin: 0;
}

.banner-texts p {
    color: white;
}

.banner-texts i {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.contact-button {
    background-color: var(--yellow);
    color: var(--blue);
    padding: 1rem 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
    align-self: end;
    cursor: pointer;
    transition: all .2s;
}

.contact-button:hover {
    background-color: white;
    color: black;
}

.banner img {
    /*height: 100%;*/
    flex-shrink: 1;
    width: 30%;
    object-fit: cover;
}

.title-container {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    padding: 40px 0;
    width: 100%;

}

.title-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title-texts h1 {
    color: var(--yellow);
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.title-texts p {
    color: white;
    margin: 0;
}

.content {
    width: 80%;
    margin: 100px auto;
}

.header2 {
    color: black;
    width: 100%;
    font-size: 3.5rem;
    margin: 30px 0;
}

h4 {
    color: var(--blue);
    font-size: 1.2rem;
}

.paragraph {
    color: rgb(82, 82, 82);
}

strong {
    color: var(--darkyellow);
}

.services-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.service-elem {
    background-color: var(--lightgray);
    flex-grow: 1;
    visibility: hidden;
    padding: 30px;
    flex: 1 1 0;
}
.service-elem:hover img{
    transform: scale(1.04);
}

.service-elem.visible {
    visibility: visible;
}

.service-elem img {
    width: 100%;
    background-color: transparent;
    transition: all 0.2s;
}

.service-elem h3 {
    font-size: 1.5rem;
}

.service-elem p {
    color: var(--darkgray);
}

.more-btn {
    color: var(--blue);
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.more-btn:hover {
    color: var(--darkyellow);
}

.more-btn i {
    font-weight: bold;
    margin-left: 5px;
}

.button {
    width: fit-content;
    flex-grow: 1;
    background-color: var(--blue);
    color: white;
    display: flex;
    white-space: nowrap;
    padding: 1rem 4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    align-items: center;
    display: flex;
    gap: 10px;
}

.button:hover {
    background-color: var(--darkyellow);
    color: black;
}

.aboutus {
    width: 1100px;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.aboutus-right {
    text-align: end;
}

.contactus {
    width: 1100px;
    margin: 150px auto;
    justify-content: space-between;
}

iframe {
    border: 2px solid var(--darkyellow) !important;
    flex-grow: 1;
}

.contact-container {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.index-form {
    width: 50%;
}

.form-row {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}

.form-field {
    flex-grow: 1;
}

.form-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    outline: 1px solid black;
    border: none;
}

form input:focus {
    outline: 2px solid var(--blue);
    border: none;
}

textarea {
    resize: none;
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    height: 4rem;
    outline: 1px solid black;
    border: none;
    margin-bottom: 30px;
}

textarea:focus {
    outline: 2px solid var(--blue);
    border: none;
}

#form-btn {
    width: 100%;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

#form-btn:hover {
    background-color: var(--darkyellow);
}





/*NOSOTROS*/
.header{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.header img{
    object-fit:cover;
}
.top-headings{
    background-color: rgba(0, 0, 0, 0.482);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1{
    font-size: 3.5rem;
    margin: 0;
    color: white;
}
.heading4{
    color: var(--blue);
    color: white;
    margin: 0;
}

.aboutus-container{
    display: flex;
    width: 1100px;
    margin: 150px auto;
    gap: 50px;
}
.areas{
    display: flex;
    color: var(--darkgray);
    font-weight: bold;
    gap: 100px;
}
.areas i{
    color: var(--darkyellow);
}
.areas-elem{
    margin: 15px 15px 15px 0;
}
.mision-vision{
    display: flex;
    gap: 50px;
    margin: 150px auto;
    width: 1100px;
}
.our-team{
    margin: 150px auto;
    width: 1100px;
    text-align: center;    
}



/*SERVICES*/
.services-container {
    width: 1100px;
    margin: 100px auto;
}
.main-service, .service{
    display: flex;
    background-color: var(--lightgray);
    gap: 20px;
    padding: 1rem;
    margin-bottom: 20px;

}
.main-service img {
    width: 500px;
    object-fit: cover;
}
.service img{
    width: 200px;
    object-fit: cover;
}
.service-title {
    font-size: 1.5rem;
}
.service-row {
    display: flex;
    gap: 20px;
}



footer {
    background-color: var(--blue);
    color: white;
    padding: 1rem;
    width: 100%;
}

@media (max-width: 1024px) {

    /*media queries*/
    #navbar {
        justify-content: center;
        margin: 0;
    }

    .banner-texts {
        padding: 0 20px;
    }

    .banner img {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
    }

    .services-info {
        flex-direction: column;
    }

    .main {
        padding: 0;
    }

    .tabs {
        display: none;
    }

    .aboutus {
        width: 80%;
    }

    .aboutus img {
        display: none;
    }

    .aboutus-right {
        text-align: start;
    }

    .aboutus-right .paragraph {
        margin-left: 0;
        width: 100% !important;
    }

    .contact-container {
        flex-direction: column-reverse;
    }

    .contactus {
        width: auto;
        padding: 1rem;
    }

    .index-form {
        width: auto;
    }
    .form-row{
        flex-direction: column;
    }

}